.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.titleBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.title {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.description {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B0B4B8;
}

.readingTime {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #858585;
}

.gradientText {
  background: linear-gradient(90deg, #3B82F6 0%, #2F67C3 50%, #295AAA 75%, #26539D 87.5%, #244F96 93.75%, #234C90 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@media (min-width: 1440px) {
  .header {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .titleBlock {
    flex: 1;
  }

  .readingTime {
    flex: none;
  }
}
