.hero {
  position: relative;
  background: linear-gradient(90deg, #3B82F6 0%, #2F67C3 50%, #295AAA 75%, #26539D 87.5%, #244F96 93.75%, #234C90 100%);
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 10;
  margin: 104px auto auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.textContainer {
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-bottom: 228px;
}

.headline {
  font-size: 20px;
  line-height: 28px;
  font-weight: 900;
  margin-bottom: 40px;
}

.paragraph {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #FFFFFF;
}

.paragraphSecondary {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 40px;
  color: #FFFFFF;
}

.highlight {
  font-weight: 900;
  font-style: italic;
}

.buttonContainer {
  margin-bottom: 0;
}

.relativeElement1 {
  position: absolute;
  bottom: 0;
}

.relativeElement2 {
  position: absolute;
  bottom: 70px;
  left: calc(10/360)*100%;
}

.relativeElement3 {
  position: absolute;
  bottom: 0;
  right: calc(10/360)*100%;
}

.relativeElement4 {
  position: absolute;
  bottom: 110px;
  right: calc(10/360)*100%;
}

.relativeElement5 {
  position: absolute;
  bottom: 10px;
  left: calc(10/360)*100%;
}

@media (min-width: 768px) {

    .content {
    margin: 80px auto auto;
    max-width: 900px;
  }
    .headline {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 30px;
  }

  .paragraph {
  font-size: 16px;
  line-height: 24px;
}

  .paragraphSecondary {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

  .textContainer {
    padding-bottom: 275px;
  }

  .relativeElement1 {
    img {
      width: 120%;
      height: auto;
      transform: scale(2.2);
    }
  }

  .relativeElement2 {
    bottom: 100px;
    
    img {
      width: 120%;
      height: auto;
      transform: scale(1.5);
    }
  }

  .relativeElement3 {
    bottom: 30px;
    
    img {
      width: 120%;
      height: auto;
      transform: scale(1.5);
    }
  }

  .relativeElement4 {
    bottom: 180px;
    right: calc(50/768)*100%;
    
    img {
      width: 120%;
      height: auto;
      transform: scale(1.5);
    }
  }

  .relativeElement5 {
    left: calc(50/768)*100%;
    
    img {
      width: 120%;
      height: auto;
      transform: scale(1.5);
    }
  }

  .buttonContainer {
    margin-bottom: 0;
  }

}

@media (min-width: 1440px) {

    .content {
    margin: 135px auto auto;
    max-width: 1200px;
  }
    .headline {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 50px;
  }

  .paragraph {
  font-size: 20px;
  line-height: 32px;
}

  .paragraphSecondary {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 60px;
}

  .textContainer {
    padding-bottom: 435px;
  }


  .relativeElement1 {
    img {
      width: 120%;
      height: auto;
      transform: scale(4.2);
    }
  }

  .relativeElement2 {
    bottom: 200px;

    img {
      width: 120%;
      height: auto;
      transform: scale(2);
    }
  }

  .relativeElement3 {
    bottom: 75px;

    img {
      width: 120%;
      height: auto;
      transform: scale(3);
    }
  }

  .relativeElement4 {
    bottom: 300px;
    right: calc(10/1440)*100%;

    img {
      width: 120%;
      height: auto;
      transform: scale(2.5);
    }
  }

  .relativeElement5 {
    left: calc(10/1440)*100%;
    bottom: 50px;

    img {
      width: 120%;
      height: auto;
      transform: scale(2);
    }
  }

  .buttonContainer {
    margin-bottom: 0;
  }

}

