.hero {
  position: relative;
  background: linear-gradient(90deg, #3B82F6 0%, #2F67C3 50%, #295AAA 75%, #26539D 87.5%, #244F96 93.75%, #234C90 100%);
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.textContainer {
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-bottom: 0;
}

.headline {
  font-size: 20px;
  line-height: 28px;
  font-weight: 900;
  margin-bottom: 40px;
  margin-top: 48px;
}

.paragraph {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #FFFFFF;
}

.paragraphSecondary {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 40px;
  color: #FFFFFF;
}

.highlight {
  font-weight: 900;
  font-style: italic;
}

.gradient {
  background-image: linear-gradient(90deg, #FFFFFF 0%, #E0E7FF 50%, #C7D2FE 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.buttonContainer {
  margin-bottom: 80px;
}

.images {
  position: relative;
  width: 100%;
  padding: 0 45px;
  height: 149px;

  @media (min-width: 768px) {
    padding: 0 94px;
    height: 202px;
  }

  @media (min-width: 1440px) {
    padding: 0 223px;
    height: 376px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.relativeElement1 {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  object-position: 0% 0%;
  min-height: 159px;
}

.relativeElement2 {
  position: absolute;
  bottom: 108px;
  right: 10px;
  width: 80px;
  height: 73px;
  object-fit: contain;
  transform: rotate(-10deg);

  @media (min-width: 768px) {
    width: 90px;
    height: 85px;
    bottom: 157px;
    right: 55px;
  }

  @media (min-width: 1440px) {
    width: 180px;
    height: 170px;
    bottom: 284px;
    right: 131px;
  }
}

.relativeElement3 { 
  position: absolute;
  width: 100px;
  height: 73px;
  object-fit: cover;
  bottom: 19px;
  right: 21px;
  border-radius: 10px;
  overflow: hidden;
  @media (min-width: 768px) {
    width: 120px;
    height: 86px;
    bottom: 32px;
    right: 45px;
  }
  @media (min-width: 1440px) {
    width: 261px;
    height: 168px;
    bottom: 40px;
    right: 103px;
  }
}

.relativeElement4 {
  object-fit: cover;
  border-radius: 10px;
  width: 60px;
  height: 52px;
  position: absolute;
  bottom: 13px;
  left: 0px;
  overflow: hidden;
  transform: rotate(21deg);
  @media (min-width: 768px) {
    width: 90px;
    height: 85px;
    bottom: 1px;
    left: 39px;
  }
  @media (min-width: 1440px) {
    width: 120px;
    height: 113px;
    bottom: 16px;
    left: 145px;
  }
}

.relativeElement5 {
  position: absolute;
  width: 100px;
  height: 73px;
  object-fit: cover;
  bottom: 93px;
  left: 16px;
  border-radius: 10px;
  overflow: hidden;
  @media (min-width: 768px) {
    width: 120px;
    height: 86px;
    bottom: 95px;
    left: 22px;
  }
  @media (min-width: 1440px) {
    width: 211px;
    height: 154px;
    bottom: 141px;
    left: 118px;
  }
}

@media (min-width: 768px) {

    .content {
    padding: 0 40px;
    max-width: 900px;
  }
    .headline {
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 30px;
      margin-top: 20px;
    }

  .paragraph {
  font-size: 16px;
  line-height: 24px;
}

  .paragraphSecondary {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

  .textContainer {
    padding-bottom: 0;
  }


  .buttonContainer {
    margin-bottom: 80px;
  }

}

@media (min-width: 1440px) {

    .content {
    padding: 0 40px;
    max-width: 1200px;
  }
    .headline {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 50px;
      margin-top: 70px;
  }

  .paragraph {
  font-size: 20px;
  line-height: 32px;
}

  .paragraphSecondary {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 60px;
}

  .textContainer {
    padding-bottom: 0;
  }











  .buttonContainer {
    margin-bottom: 80px;
  }

}

