.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  padding: 40px 16px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #383f45;
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #858585;
  text-align: center;
}
