.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 100%;
  max-width: 288px;
}

.dateTimeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 4px;
  width: 100%;
  max-width: 288px;
}

.timePickerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  width: 100%;
  max-width: 288px;
  height: 96px;
  background: #FFFFFF;
  border-radius: 11px;
  box-sizing: border-box;
}

.columnsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 100%;
}

.separatorColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 8px;
}

.separator {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #D1D1D6;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeSeparator {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #454545;
  height: 32px;
  display: flex;
  align-items: center;
}

.quickTimeButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  width: 100%;
  max-width: 288px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 11px;
  box-sizing: border-box;
}

.quickTimeButtonsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  height: 24px;
  gap: 0;
}

.quickTimeButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 2px;
  flex: 1;
  height: 24px;
  border-radius: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #D1D1D6;
  transition: all 0.2s;

  &:hover {
    color: #3B82F6;
  }
}

.hint {
  max-width: 255px;
  width: 100%;
  
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #CED2D6;
}
