@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-lama-blue-gradient: linear-gradient(to bottom, #3B82F6, #2F67C3, #295AA9, #26539D, #244F96, #234C90);
  --color-lama-blue: #3B82F6;
  --color-lama-light-blue: #EBF2FE;

  --color-gray-input: #B0B4B8;
  --color-lama-black: #383F45;
  --color-black: #1A1A1A;
  --color-light-gray: #F0F4FA;
  --color-lama-dark-gray: #636E78;
  --color-lama-gray: #858585;
  --color-lama-destructive: #E33326;
}

@theme inline {
  --color-background: var(--color-light-gray);
  --color-foreground: var(--color-lama-black);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  overflow: hidden;
  max-width: 100vw;
  height: 100%;
}

body {
  background: var(--color-light-gray);
  color: var(--color-lama-black);
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  max-width: 100vw;
  height: 100%;
  margin: 0;
}

/* Global custom scrollbar */
*
{
  scrollbar-width: thin;
  scrollbar-color: #2F67C3 rgba(47, 103, 195, 0.12);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #F0F4FA;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #E1E8F0;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}