.loader {
  border: 2px solid transparent;
  border-top-color: currentColor;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.blue {
  border-top-color: #3B82F6;
}

.white {
  border-top-color: white;
}

.inherit {
  border-top-color: currentColor;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
