.tooltip {
  display: none; // Скрываем на мобилках
  
  @media (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 5000;
  }
}

.tooltipTop {
  @media (min-width: 1440px) {
    top: auto;
    bottom: calc(100% + 8px);
  }
}

.tooltipLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: auto;
  right: calc(100% + 8px);
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 5000;
}

.tooltipRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: calc(100% + 8px);
  right: auto;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 5000;
}

.tooltipHidden {
  display: none !important;
}

.tooltipVisible {
  display: flex !important;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
  background: #EBF2FE;
  border-radius: 5px;
  white-space: nowrap;
}

.text {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.arrowTip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 14px;
  height: 8px;
  margin-bottom: -3px;
  order: -1;
}

.arrowTipTop {
  margin-bottom: 0;
  margin-top: -3px;
  order: 1;

  .arrow {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 0;
    border-top: 8px solid #EBF2FE;
  }
}

.arrowTipLeft {
  width: 8px;
  height: 14px;
  margin-bottom: 0;
  margin-left: -3px;
  order: 1;

  .arrow {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 8px solid #EBF2FE;
    border-right: 0;
  }
}

.arrowTipRight {
  width: 8px;
  height: 14px;
  margin-bottom: 0;
  margin-right: -3px;
  order: -1;

  .arrow {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 8px solid #EBF2FE;
    border-left: 0;
  }
}

.arrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid #EBF2FE;
}
