.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.bottomGradient {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px;
  background: linear-gradient(360deg, #F1F5FB 7.95%, rgba(255, 255, 255, 0) 64.11%);
  pointer-events: none;
  z-index: 10;
}