.inboxDirectMobile {
  height: 100%;
  flex: 1;
  min-height: 0;
}

.inboxDirectDesktop {
  height: 100%;
  flex: 1;
  min-height: 0;
}

.desktopContent {
  display: flex;
  gap: 16px;
  height: 100%;
}

.directMenuWrapper {
  display: flex;
  height: 100%;
  min-height: 0;
  display: none;
  @media(min-width: 1440px) {
    display: block;
  }
}