.container {
  padding: 20px 10px 20px;
  display: flex;
  flex-direction: column;
  
  @media(min-width: 1440px) {
    padding: 20px 20px 20px;
  }
}

.chatContainer {
  display: flex;
  flex-direction: column;
  
  overflow: hidden;
  height: 100%;
  padding: 20px 10px 20px;
  @media(min-width: 1440px) {
    padding: 20px 20px 20px;
  }
}

.list {
  gap: 30px;
}

.direct {
  gap: 20px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}