.keyAdvantages {
  padding: 0 20px;
  margin-bottom: 80px;
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  position: relative;
}

.decorationLeftTablet,
.decorationRightTablet,
.decorationLeftDesktop,
.decorationRightDesktop {
  display: none;
  position: absolute;
  pointer-events: none;
  z-index: 0;
}

.headline {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  color: #383F45;
}

.highlight {
  background-image: linear-gradient(90deg, #3B82F6 0%, #2F67C3 50%, #295AAA 75%, #26539D 87.5%, #244F96 93.75%, #234C90 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 800;
}

.highlight {
  background-image: linear-gradient(90deg, #3B82F6 0%, #2F67C3 50%, #295AAA 75%, #26539D 87.5%, #244F96 93.75%, #234C90 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 800;
}

.lama {
  font-style: italic;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 1;
}

.card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  position: relative;
  box-shadow: 0px 1px 1px 0px #0000001F, 0px 7px 18.4px 0px #676E7614;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.icon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(181, 205, 255, 0.4) 0%, #F7F9FE 60%);
  border-radius: 10px;
  padding: 7px;
}

.cardTitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #555555;
}

.cardDescription {
  font-size: 16px;
  line-height: 22px;
  color: #383F45;
  font-weight: 400;
}

@media (min-width: 768px) {

  .keyAdvantages {
    margin-bottom: 120px;
    margin-top: 80px;
  }

  .decorationLeftTablet {
    display: block;
    top: -20px;
    left: -30px;
  }

  .decorationRightTablet {
    display: block;
    bottom: -110px;
    right: -60px;
  }

  .headline {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 60px;
  }

  .cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
  }

  .card {
    padding: 20px 20px 32px;
    gap: 20px;
    flex: 0 0 calc((100% - 24px)/2);
  }

  .cardTitle {
    font-size: 20px;
    line-height: 28px;
  }

  .cardDescription {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1440px) {

  .keyAdvantages {
    margin-bottom: 120px;
  }

  .container {
    max-width: 1200px;
  }

  .decorationLeftTablet,
  .decorationRightTablet {
    display: none;
  }

  .decorationLeftDesktop {
    display: block;
    top: -60px;
    left: -160px;
  }

  .decorationRightDesktop {
    display: block;
    bottom: -170px;
    right: -150px;
  }

  .headline {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 64px;
  }


  .card {
    padding: 20px 20px 40px;
    flex: 0 0 calc((100% - 48px) / 3);
  }
}

