.container {
  width: 100%;
  padding: 60px 20px 143px 20px;
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 80px 20px 197px 20px;
    max-width: 1240px;
  }

  @media (min-width: 1440px) {
    padding: 160px 0 215px 0;
    max-width: 1200px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 85px;

  @media (min-width: 768px) {
    gap: 120px;
  }
}
