.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 288px;
  gap: 0px;
}

.labelsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #858585;
  flex: 1;
}

.labelSpacer {
  width: 16px;
}

.columnsWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 96px;
}

.separatorColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 8px;
}

.separator {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #D1D1D6;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeSeparator {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #454545;
  height: 32px;
  display: flex;
  align-items: center;
}
