.directMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 12px;
  @media(min-width: 1440px) {
    width: 320px;
  }
}

.directMenuHeader {
  padding: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.directMenuHeaderLeft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.directMenuContent {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sectionTitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: var(--color-lama-black);
  margin: 0;
}

.chatList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
