.buttonWrapper {
  display: inline-block;
  padding: 2px;
  border-radius: 10px;
  background: linear-gradient(90deg, #3B82F6 0%, #2F67C3 50%, #295AAA 75%, #26539D 87.5%, #244F96 93.75%, #234C90 100%);
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  background-color: white;
  padding: 12.5px 20px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  font-family: inherit;
  
  &:hover {
    background: linear-gradient(90deg, #3B82F6 0%, #2F67C3 50%, #295AAA 75%, #26539D 87.5%, #244F96 93.75%, #234C90 100%);
    
    .buttonText {
      color: white;
    }
    
    svg path {
      stroke: white;
    }
  }
  
  &.active {
    background: linear-gradient(90deg, #3B82F6 0%, #2F67C3 50%, #295AAA 75%, #26539D 87.5%, #244F96 93.75%, #234C90 100%);
    
    .buttonText {
      color: white;
    }
    
    svg path {
      stroke: white;
    }
    
    &:hover {
      background: linear-gradient(270deg, #3B82F6 0%, #2F67C3 50%, #295AAA 75%, #26539D 87.5%, #244F96 93.75%, #234C90 100%);
    }
  }
}

.buttonWrapper:has(.button.active:hover) {
  background: linear-gradient(270deg, #3B82F6 0%, #2F67C3 50%, #295AAA 75%, #26539D 87.5%, #244F96 93.75%, #234C90 100%);
}

.buttonText {
  background-image: linear-gradient(90deg, #3B82F6 0%, #2F67C3 50%, #295AAA 75%, #26539D 87.5%, #244F96 93.75%, #234C90 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  transition: color 0.2s;
}

.fullWidthWrapper {
  display: block;
  width: 100%;
}

.fullWidthButton {
  display: flex;
  width: 100%;
  justify-content: center;
}

.smallWrapper {
  padding: 1px;
  border-radius: 8px;
  width: 72px;
}

.smallButton {
  width: 100%;
  padding: 6px 0;
  border-radius: 6px;
  gap: 8px;
  justify-content: center;
  
  .buttonText {
    font-size: 14px;
    line-height: 20px;
  }
}

.mediumWrapper {
  padding: 2px;
  border-radius: 10px;
  width: 110px;
}

.mediumButton {
  width: 100%;
  padding: 8px 0;
  border-radius: 8px;
  gap: 10px;
  justify-content: center;
  
  .buttonText {
    font-size: 16px;
    line-height: 24px;
  }
}

