.filterTabs {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  min-width: 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

.filterTabsStretch {}

.filterTab {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
  color: var(--color-lama-black);
  cursor: pointer;
  transition: color 0.2s, background 0.2s;
  border-radius: 25px;
  padding: 4px 12px;

  &:hover {
    background: #3B82F61A;
  }
}

.filterTabActive {
  background: #3B82F61A;
  font-weight: 500;
}
