.modalContent {
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  justify-content: space-between;
  gap: 0;
  align-items: center;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
  flex: 1;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.button {
  width: 100%;
}
